<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DocdocApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_app_icon_3"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_icon_3"
        android:supportsRtl="true"
        android:theme="@style/Theme.CleanDocDoc"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.CleanDocDoc">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!-- Deep Links won't work on Android 12+ because the link isn't verified yet -->
                <!-- So we just need to host a json file on the back-end ex: https://www.coursera.org/.well-known/assetlinks.json -->
                <data android:scheme="https" />
                <data android:host="docdoc.com" />
                <data android:scheme="https" />
                <data android:host="www.docdoc.com" />
            </intent-filter>
        </activity>
    </application>

</manifest>